@import './rest.css';
/* ----- FONTS -------*/
@import "./settings/fonts";
/* ----- COLORS -------*/
@import "./settings/collors";


body {
  font-family: $font-base;
}

/*----- HEADER -----*/
.containerGrig {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

}

.banner {
  transform: translateX(-35%);
  z-index: 0;
}

.rightContentGrid {
  z-index: 1;
}

/* ------ Login --------- */
.loginButtons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 37px;
  margin-right: 142px;
  font-size: 14px;
  color: $lightGrey;
}


.loginLink {
  padding: 10px;
  font-size: 14px;
  color: $lightGrey;
  text-decoration: none;
}

.makeAccount {
  border: 0.75px solid $orange;
}

/*----- Nav Menu ------*/
.nav-items {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 142px;
  margin-top: 17px;


}

.nav-item {
  text-decoration: none;
  color: $darkGrey;
  font-size: 18px;
  padding: 26px;
}

.start {
  border: 0.75px solid $darkGrey;
}

/*-----Platform info -------*/
.platrofmInfo {
  margin-top: 210px;
  text-align: center;
  margin-right: 220px;
}

.mainInfo {
  font-size: 38px;
  line-height: 1.55em;
}

.btn {
  width: 310px;
  height: 120px;
  border: 0.75 solid $lightGrey;
  margin-top: 60px;
}

.toLoginSection {
  font-size: 36px;
  text-decoration: none;
  color: $darkGrey;
  border: 0.75px solid $darkGrey;
  padding-top: 13px;
}

.btn1 {
  margin-left: 44px;
}

.infoButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


/*---- Statistics ------*/
.infoContaner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 46px 163px 86px;
  background: transparent url("../assets/3 Columns Background.png") 0% 0% no-repeat padding-box;
  margin-bottom: 55px;
}

.infoColumn {
  text-align: center;
}

.infoColumnFirst, .infoColumnSecond {
  margin-right: 286px;
}

.statNumber {
  font-size: 90px;
  color: $brown;
  margin-bottom: 10px;
}

.statInfo {
  font-size: 18px;
  color: $darkGrey;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.statDescription {
  font-family: $font-alt;
  font-size: 16px;
  color: $darkGrey;
}

/* ----- Simple Steps ----- */
.simpleSteps {
  text-align: center;
}

.simpleStepsTitle {
  font-size: 38px;
  color: $darkGrey;
  margin-bottom: 25px;
}

.decoration {
  margin-bottom: 34px;
}

.simpleStepsInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #F0F1F1 0% 0% no-repeat padding-box;
  padding-top: 73px;
  padding-bottom: 80px;
  margin-bottom: 35px;
}

.iconTitle {
  margin: 8px 3px;
  font-size: 18px;

}

.iconInfo {
  font-size: 16px;
}

.horizontalLine {
  width: 70px;
}

.componentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uniwersalBtn {
  margin-top: 35px;
  margin-bottom: 93px;
  padding-top: 13px;
  padding-left: 93px;
}

/*----- About us ----- */

//.containerAboutUs {
//  margin-bottom: 70px;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  flex-direction: row;
//  height: 935px;
//  background-color: #F0F1F1;
//}

.containerAboutUs {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 935px;
  background-color: #F0F1F1;
}


.aboutUsInfo {
  font-size: 30px;
  text-align: center;
  width: 656px;
}


.aboutUsInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signature {
  height: 100%;
}

.aboutUsInfoContainer {
  width: 958px;
}

.aboutUsInfoImg {
  width: 942px;
}

.aboutUsTitle {
  margin-top: 186px;
  margin-bottom: 39px;
  font-size: 38px;
}

.aboutUsDeco {
  margin-bottom: 61px;
}

.aboutUsInfo {
  margin-bottom: 41px;
}

/*----Organizations -----*/
.organizationsContainer {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.organizationsContent {
  width: 1344px;

}

.ogranizationsTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
}

.organizationsTitle {
  margin-bottom: 39px;
  font-size: 38px;
}

.organizationsDeco {
  margin-bottom: 68px;
}

.fundations {
  margin-right: 149px;
}

.organizations {
  margin-right: 157px;
}
